@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;

  background-color: #FFFFFF;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  margin-right: 30px;
}

.page-header-logo {
  display: block;
}

.navigation-list {
  display: flex;
  width: 470px;
  flex-wrap: wrap;
  align-items: center;


  margin: 0;
  padding: 0;
}

.navigation-user {
  justify-content: end;
  margin-left: auto;
}

.navigation-user .navigation-link {
  padding: 0;
  min-width: 42px;
  min-height: 66px;
}

.navigation-link {
  display: block;
  padding: 20px 17px;

  line-height: 26px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: #333333;

  background-color: #FFFFFF;
}

.button-navigation {
  border-radius: 4px;
  margin-left: 20px;

  width: 160px;
  height: 38px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;

  background-color: #756257;
}

.main-container {
  flex-grow: 1;
}

.slogan {
  padding-top: 51px;
  padding-bottom: 82px;

  background-color: #333333;
  background-image: url("/images/background/decor-background.svg"), url("/images/background/index-background.jpg");
  background-size: 100% 58px, 100% auto;
  background-position: center bottom, center bottom;
  background-repeat: no-repeat, no-repeat;

  text-align: center;
}

.slogan-Sedona {
  vertical-align: middle;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 62px;
  padding-bottom: 80px;
}

.real-town {
  display: flex;
  margin: 0;
}

.recommendation {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.recommendation-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.recommendation-title {
  margin-top: 184px;
  margin-bottom: 20px;
}

.attraction {
  display: flex;
}

.advantages {
  display: flex;
  margin-top: 0;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.title-section {
  margin-left: 240px;
  margin-right: 240px;
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.description-section {
  margin-top: 0;
  margin-left: 240px;
  margin-right: 240px;

  text-align: center;
  line-height: 36px;
}

.description-reason .description-section {
  margin-bottom: 80px;
}

.finding-hotel-description .description-section {
  margin-bottom: 56px;
}

.newsletter-description .description-section {
  margin-bottom: 46px;
}

.main-block {
  width: 400px;
  height: 384px;

  color: #FFFFFF;
  text-align: center;

  background-color: #83B3D3;
}

.title-block {
  margin-top: 98px;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.recommendation-title {
  margin-top: 184px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.number-reason {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.description-block {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.recommendation .description-block {
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 0;
  margin-bottom: 80px;
}

.main-block .description-block {
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 0;
  margin-bottom: 88px;
}

.advantages .description-block {
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 0;
  margin-bottom: 108px;
}

.item-color {
  background-color: rgba(130, 179, 211, 0.12);
}

.item-parameters {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 400px;
  height: 384px;
}

.advantages-item-road {
  background-color: rgba(130, 179, 211, 0.2);
}

.finding-hotel {
  display: flex;
  flex-direction: column;
  padding-top: 92px;

  text-align: center;
}

.button-finding-hotel {
  margin-top: 0;
  margin-bottom: 94px;
  margin-left: 312px;
  margin-right: 312px;
  border-radius: 10px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #756257;
}

.finding-hotel-description {
  margin-top: 0;
  margin-bottom: 56px;
}

.newsletter-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 94px;

  color: #FFFFFF;
  text-align: center;

  background-color: #333333;
  background-image: url("/images/background/newsletter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-description {
  margin-top: 0;
  margin-bottom: 46px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 0;
  margin-bottom: 94px;
  padding: 0;
  border: 0;

  text-align: center;
}

.field {
  margin-right: 0;
  padding: 0;
  border: solid 10px;
  border-radius: 10px 0px 0px 10px;
  border-color: #F2F2F2;

  font-size: 18px;
  line-height: 26px;
  color: #000000;

  background-color: #F2F2F2;
}

.newsletter-button {
  margin-left: 0;
  padding: 0;
  border: solid 10px;
  border-radius: 0px 10px 10px 0px;
  border-color: #83B3D3;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #83B3D3;
}

.page-footer-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.footer-social {
  margin-left: 72px;
  margin-right: 0;
  margin-top: 50px;
  margin-bottom: 52px;

  min-width: 107px;
  min-height: 18;
}

.footer-social-item {
  margin-right: 30px;
}

.footer-social-item:nth-child(3) {
  margin-right: 0px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer-contacts {
  min-width: 720px;
  min-height: 40px;
  margin-right: 52px;
  margin-left: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-contacts-number {
  display: flex;
  justify-content: center;

  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.htmlacademy {
  min-height: 116px;
  min-width: 34px;
  margin-right: 72px;
  margin-left: 0;
  margin-top: 42px;
  margin-bottom: 46px;
}

.filter {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 35px;
  padding-bottom: 83px;

  color: #FFFFFF;

  background-color: #333333;
  background-image: url("/images/background/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.filter-title {
  padding: 0;
  margin: 0px;
  margin-bottom: 5px;

  font-weight: 700;
  font-size: 60px;
  line-height: 68px;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin-top: 0;
  margin-bottom: 45px;

  font-size: 16px;
  line-height: 21px;
}

.catalog {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 72px;
  padding-right: 72px;
}

.catalog-filter-title {
  margin-bottom: 30px;
  padding: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter {
  display: flex;
  margin: 0;
  padding: 0;
}

.catalog-filter-group {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
}

.block-infrastructure {
  margin: 0;
  margin-right: 67px;
}

.block-type {
  margin: 0;
  margin-right: 167px;
}

.block-price {
  margin: 0;
  margin-right: 81px;

  width: 287px;
}

.block-range {
  margin-bottom: 32px;
}

.block-range-minimum {
  box-sizing: border-box;
  margin: 0;
  border: 2px solid #FFFFFF;

  width: 142px;
  height: 48px;

  color: white;

  background-color: transparent;
}

.block-range-maximum {
  box-sizing: border-box;
  margin: 0;
  border: 2px solid white;

  width: 142px;
  height: 48px;

  color: white;

  background-color: transparent;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  margin-bottom: 13px;

  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0px;
}

.price-title {
  margin-bottom: 34px;
  padding: 0;
}

.slider {
  position: absolute;


  width: 287px;
  height: 5px;

  -webkit-appearance: none;
  outline: none;

  background: #a4a4a4;
}

.slider input {
  position: absolute;
  left: 25%;
  top: 15px;

  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  outline: none;

  pointer-events: none;
  overflow: hidden;
}

.slider::-webkit-slider-thumb {
  position: relative;
  z-index: 1;

  width: 20px;
  height: 20px;
  outline: 0;

  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  pointer-events: all;

  background: #FFFFFF;
}

.slider::-moz-range-thumb {
  position: relative;
  z-index: 10;

  width: 20px;
  height: 20px;
  width: 9px;

  cursor: pointer;
  pointer-events: all;
  -moz-appearance: none;

  background: #FFFFFF;
}

.slider input::-moz-range-track {
  position: relative;
  z-index: -1;

  border: 0;
}

.slider input:last-of-type::-moz-range-track {
  border: 0;

  -moz-appearance: none;

  background: none transparent;
}

.slider input[type=range]::-moz-focus-outer {
  border: 0;
}

.button-apply {
  margin-bottom: 20px;
  padding: 0;
  border-radius: 4px;
  border: 0;
  align-items: center;

  width: 160px;
  height: 48px;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #83B3D3;
}

.button-filter {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.reset {
  border: none;
  padding: 0;

  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;

  background-color: transparent;
}

.sorting {
  display: flex;
  margin-top: 0;
  margin-bottom: 53px;
  padding: 0;
}

.result {
  margin: 0;
  margin-right: 192px;
  flex-grow: 1;

  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
}

.select-control {
  margin-right: 51px;

  font-size: 18px;
  line-height: 23px;
}

.sorting-container {
  display: flex;
  margin: 0;
}

.button-sorting {
  box-sizing: border-box;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  margin-right: 8px;

  width: 48px;
  height: 48px;
}

.button-sorting:last-child {
  margin-right: 0;
}

.button-light {
  border: 2px solid #000000;
}

.hotel-search-results {
  display: flex;
  flex-direction: column;
  padding: 0;

}

.hotel-list {
  display: flex;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  flex-wrap: wrap;
}

.hotel-item {
  display: flex;
  margin: 0;
  margin-right: 18px;
  padding: 20px;
}

.hotel-item:nth-child(3) {
  margin-right: 0;
}

.hotel-card-image {
  display: block;
  margin: 0;
  margin-bottom: 16px;
}

.hotel-card-title {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;

  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-information {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;

  font-size: 18px;
  line-height: 23px;
}

.hotel-card-definition {
  flex-grow: 1;
  margin: 0;
  margin-right: 25px;
  padding: 0;
  align-self: center;
}

.hotel-card-price {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  align-self: center;
}

.hotel-card-button {
  display: flex;
  justify-content: space-between;
}

.card-button {
  padding-top: 9px;
  padding-bottom: 10px;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #756257;
}

.detail {
  flex-grow: 1;
  margin-right: 26px;
}

.select {
  flex-grow: 1;

  background-color: #83B3D3;
}

.chosen {
  flex-grow: 1;

  background-color: #7DB54F;
}

.rating {
  border: solid #F2F2F2;
  border-radius: 4px;

  width: 160px;
  height: 37px;

  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  font-size: 16px;
  line-height: 21px;
  text-align: center;

  background-color: #F2F2F2;
}

.pagination {
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 72px;
}

.pagination-list {
  display: flex;
  padding: 0;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 300px;
}

.button-pagination {
  padding: 30px 218px;
  margin: 0;
  margin-bottom: 30px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

.button-pagination-show-more {
  width: 620px;
  height: 60px;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  border-color: #83B3D3;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #83B3D3;
}

.pagination-link {
  border-radius: 4px;
  border-color: #83B3D3;

  width: 55px;
  height: 55px;

  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  text-decoration: none;

  background-color: #83B3D3;
}

.pagination-current {
  color: #000000;

  background-color: #F2F2F2;
}

.number-card {
  display: flex;
  align-items: center;
}

.number-card-hotels {
  width: 160px;
  height: 48px;
  align-content: center;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  
  font-size: 18px;
  line-height: 23px;
}

.newsletter-catalog-description {
  color: #000000;
  text-align: center;
}

.newsletter-form .newsletter-catalog-form {
  margin-bottom: 141px;
}

.style-list {
  list-style: none;
}

.flow-page {
  border-bottom: 2px solid #756257;
  ;
}
