@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: #333333;
  background-color: #FFFFFF;
}

.button-navigation {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  border-radius: 4px;
}

.slogan {
  background-color: #333333;
  background-image: url("../images/background/decor-background.svg"), url("../images/background/index-background.jpg");
  background-size: 100% auto, 100% auto;
  background-position: center bottom, center bottom;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
}

.title-section {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.description-reason {
  text-align: center;
  line-height: 36px;
}

.main-block {
  color: #FFFFFF;
  background-color: #83B3D3;
  text-align: center;
}

.title-block {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.description-block {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.item-color {
  background-color: rgba(130, 179, 211, 0.12);
}

.advantages-item-road {
  background-color: rgba(130, 179, 211, 0.2);
}

.finding-hotel {
  text-align: center;
}

.button-finding-hotel {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
}

.newsletter-main {
  background-color: #333333;
  background-image: url("../images/background/newsletter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
  text-align: center;
}

.newsletter-form {
  text-align: center;
  border-radius: 10px;
}

.field {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  border: solid 10px;
  border-radius: 10px 0px 0px 10px;
  border-color: #F2F2F2;
  background-color: #F2F2F2;
}

.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border: solid 10px;
  border-radius: 0px 10px 10px 0px;
  border-color: #83B3D3;
}

.footer-contacts-number {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.filter {
  color: #FFFFFF;
  background-color: #333333;
  background-image: url("../images/background/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.filter-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
}

.slider {
  position: absolute;

  
  width: 287px;
  height: 5px;

  -webkit-appearance: none;
  outline: none;

  background: #a4a4a4;
}

.slider input {
  position: absolute;
  left: 25%;
  top: 15px;

  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  outline: none;

  pointer-events: none;
  overflow: hidden;
}

.slider::-webkit-slider-thumb {
  position: relative;
  z-index: 1;

  width: 20px;
  height: 20px;
  outline: 0;

  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  pointer-events: all;
  
  background: #FFFFFF;
}

.slider::-moz-range-thumb {
  position: relative;
  z-index: 10;

  width: 20px;
  height: 20px;
  width: 9px;
  
  cursor: pointer;
  pointer-events: all;
  -moz-appearance: none;

  background: #FFFFFF;
}

.slider input::-moz-range-track {
  position: relative;
  z-index: -1;

  border: 0;
}

.slider input:last-of-type::-moz-range-track {
  border: 0;

  -moz-appearance: none;

  background: none transparent;
}

.slider input[type=range]::-moz-focus-outer {
  border: 0;
}

.button-apply {
  border-radius: 4px;
  
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.reset {
  border: none;

  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background-color: transparent;
}

.result {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
}

.select-control {
  font-size: 18px;
  line-height: 23px;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-information {
  font-size: 18px;
  line-height: 23px;
}

.hotel-card-button {
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

.select {
  background-color: #83B3D3;
}

.chosen {
  background-color: #7DB54F;
}

.rating {
  border: solid #F2F2F2;
  border-radius: 4px;

  width: 160px;
  height: 37px;

  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  font-size: 16px;
  line-height: 21px;
  text-align: center;
  background-color: #F2F2F2;
}

.button-pagination-show-more {
  border-radius: 4px;
  border-color: #83B3D3;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination-link {
  border-radius: 4px;
  border-color: #83B3D3;

  width: 55px;
  height: 55px;

  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
}

.number-card {
  border-radius: 4px;
  
  font-size: 18px;
  line-height: 23px;
  background-color: #E5E5E5;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.newsletter-catalog-description {
  color: #000000;
  text-align: center;
}

.style-list {
  list-style: none;
}